body {
    background-color: #c2b6d6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%238b8a8d' fill-opacity='0.33'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Nunito Sans', sans-serif;   
}
header {
    background-color:#f5f3f3;
    padding: 2%;
    text-align: center;
    margin-left: 25%;
    margin-right:25%;
    margin-bottom: -3%;
    margin-top: 3%;
    font-weight: bolder;
    font-size:30px;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 5px 10px 8px #646464;
    text-shadow: 5px 2px #c2b6d6;
    border-radius: .2em;

}
.content {
    background-color:#f5f3f3;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 10px 8px #646464;
    border-radius: .2em;

}
.txtbox {
    margin-bottom: 3%;
    margin-left: 14%;
    margin-top: 2%;
    border: none;
    box-shadow: 0 3px 10px #646464;
    border-radius: .2em;
    font-family: 'Nunito Sans', sans-serif; 
}
button {
    background-color: #c2b6d6;
    width: 100px;
    padding: 5px;
    box-shadow: 3px 5px 8px #888888;
    margin-left: 14%;
    margin-right: -13%;
    border-radius: 0.2em;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px #646464;
    

}
.foot {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f3f3;
    color: rgb(146, 145, 145);
    text-align: left;
    box-shadow: 5px 10px 8px #646464;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 0.2em;
}


